@font-face {
	font-family: 'Hardpixel';
	src: url('~@/assets/fonts/hardpixel/regular.woff2') format('woff2'),
		 url('~@/assets/fonts/hardpixel/regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'vcr';
	src: url('~@/assets/fonts/vcr.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}